<%- include ../header.ejs %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% if (containers.length > 0) { %>
      <table class="table table-hover">
        <thead>
          <tr>
            <% for (var key in containers[0]) { %>
              <td>
                <%= key; %>
              </td>
            <% } %>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0, cLength = containers.length; i < cLength; i++) { %>
            <tr>
              <% for (var key in containers[i]) { %>
                <td><%= containers[i][key]; %></td>
              <% } %>
            </tr>
          <% } %>
        </tbody>
      </table>
    <% } else { %>
      <div class="alert alert-danger">
        <p>
          没有容器正在运行
        </p>
      </div>
    <% } %>
  </div>
</div>

<%- include ../footer.ejs %>
