<% include header.ejs %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="ui header logo">
      <img src="/images/logo.png" alt="logo"/>
    </div>
    <div class="ui header title">
      <p>
        基于 Docker 的代码自动化部署平台
      </p>
    </div>
  </div>
</div>

<% include footer.ejs %>
