<% include header.ejs %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="header logo">
      <img src="/images/logo.png" alt="logo"/>
    </div>
    <div class="header title">
      <p>
        基于 Docker 的代码自动化部署平台
      </p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="screenshots">
      <img src="/images/running_container.png" class="img-responsive" alt="已运行容器">
    </div>
  </div>
  <div class="col-md-4">
    <div class="screenshots">
      <img src="/images/created_container.png" class="img-responsive" alt="已创建容器">
    </div>
  </div>
  <div class="col-md-4">
    <div class="screenshots">
      <img src="/images/downloaded_image.png" class="img-responsive" alt="已下载容器">
    </div>
  </div>
  <div class="col-md-4">
    <div class="screenshots">
      <img src="/images/container_info.png" class="img-responsive" alt="容器详细信息">
    </div>
  </div>
</div>

<% include footer.ejs %>
