<%- include header.ejs %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="alert alert-danger">
      <h3>DockerCI 内部错误</h3>
      <p>
        系统内部错误，请联系系统管理员&nbsp;&lt;duanpengfei1993@qq.com&gt;。
      </p>
    </div>
  </div>
</div>

<%- include footer.ejs %>
